body {
    margin: 0;
    padding: 0;
}

.game {
    width: 300px;
    aspect-ratio: 0.5;
    position: relative;
}

.block-grid, .moving-block-grid {
    box-sizing: border-box;
    border: 1px solid gray;
}

.fill-moving-block {
    background-color: aqua;
}

.fill-fixed-block {
    background-color: coral;
}

@keyframes gridBlink {
    0% {
        background-color: aquamarine;
    }
    50% {
        background-color:blueviolet;
    }
    100% {
        background-color: aquamarine;
    }
}

.fullLine-grid-blink {
    animation: gridBlink 1s ease-in-out;
}


.toy {
    position: relative;
    width: fit-content;
    margin: 0 auto 0;
}

.toy .title {
    font-size: 2rem;
    text-align: center;
}

.toy .time-score {
    display: flex;
}

.toy .time-score .time, .toy .time-score .score {
    width: 50%;
    text-align: center;
    box-sizing: border-box;
}