:root {
    --grid-area-total-width: 230px;
    --grid-area-background-color: #E5F0FF;

    --preview-grid-width: calc(var(--grid-area-total-width)/12.4);
    --toy-background-color: #A7BAF1;
    --toy-border-color: #E5F0FF;

    
}


body {
    margin: 0;
    padding: 0;
}

.game-container {
    display: flex;
}

/* ========================================================================================== */
/* next block preview */

.preview-next-container {
    padding: 0.5em;
}

.preview-heading {
    text-align: center;
}

.preview-fill {
    background-color: blueviolet;
}

.game-container .preview-next-container .preview-next {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: calc(var(--preview-grid-width)*4);
    height: calc(var(--preview-grid-width)*4);
    aspect-ratio: 1;
}

.game-container .preview-next-container .preview-next > div {
    border: 0.4px solid rgba(191, 191, 191, 0.7);
}

.game-container .preview-next-container .preview-next > div:nth-child(4n) {
    border-right: none;
}

.game-container .preview-next-container .preview-next > div:nth-child(4n+1) {
    border-left: none;
}

.game-container .preview-next-container .preview-next > div:nth-child(-n+4) {
    border-top: none;
}

.game-container .preview-next-container .preview-next > div:nth-child(n+13) {
    border-bottom: none;
}

/* next block preview */
/* ========================================================================================== */


.game {
    width: var(--grid-area-total-width);
    aspect-ratio: 0.5;
    position: relative;
    background-color: var(--grid-area-background-color);
    z-index: -2;
}

.block-grid, .moving-block-grid {
    box-sizing: border-box;
    border: 1px solid rgba(191, 191, 191, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill-moving-block, .fill-fixed-block {
    border-radius: 0.3em;
    box-shadow: 1px 0px 6px -2px rgba(0,0,0,0.75);
}

.fill-moving-block {
    /* background-color: aqua; */

}


.fill-fixed-block {
    background-color: coral;
}

.fill-moving-block::after, .fill-fixed-block::after {
    content: "";
    aspect-ratio: 1;
    width: 60%;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0px 0px 0.2em -2px rgba(0,0,0,0.75) inset;
}


@keyframes gridBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fullLine-grid-blink {
    animation: gridBlink 1s ease-in-out;
}


.toy {
    position: relative;
    width: fit-content;
    margin: 0 auto 0;
    padding: 0.75em;
    background-color: var(--toy-background-color);
    z-index: -10;
    border-color: var(--toy-border-color) !important;
}

.toy .title {
    font-size: 2rem;
    text-align: center;
}

.toy .time-score {
    display: flex;
}

.toy .time-score .time, .toy .time-score .score {
    width: 50%;
    text-align: center;
    box-sizing: border-box;
}


/* moving block color */

.straight-fill {
    background-color: #AB4083;
}

.zigzag-fill {
    background-color: #0085FA;
}

.fuck-fill {
    background-color: #8BF287;
}

.revShapeL-fill {
    background-color: #32BEAE;
}

.revZigzag-fill {
    background-color: #FE8A7D;
}

.shapeL-fill {
    background-color: #FFC858;
}

.square-fill {
    background-color: #D13796;
}